@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
            
:root {
    --placeToLand: 0px;
    --placeToLand2: 0px;
    --placeToTop: 0px;
}
body {
    background-image: url('https://cdn.discordapp.com/attachments/1066072940191416372/1083809298817220618/background.jpeg'); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
#bk_backboard_holder {
    z-index: 3;
    position: relative;
    width: 95vw;
    height: 40vh;
    top: 20vh;
    left: 2.5vw;
    display: flex;
    flex-direction: row;
    user-select: none;
    -webkit-user-drag: none;
}

.bk_backboard {
    position: relative;
    width: calc(100%/4);
    height: 100%;
    top: 0%;
    left: 0%;
    margin-right: 1%;
    user-select: none;
    -webkit-user-drag: none;
}
.bk_backboard > p {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 20%;
    font-size: 1.3em;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.bk_backboard > img {
    position: absolute;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 10px black) grayscale(100%);
    transition-duration: 0.5s;
    user-select: none;
    -webkit-user-drag: none;
}
.bk_backboard > img:hover {
    filter: drop-shadow(0px 0px 5px black) grayscale(0%);
    transition-duration: 0.5s;
}
#bk_ball {
    z-index: 3;
    position: fixed;
    width: 20vw;
    height: auto;
    left: 40vw;
}

#switch {
    z-index: 3;
    position: absolute;
    width: 15vw;
    height: 7.5vh;
    top: 2vh;
    left: calc(50vw - 7.5vw);
    background-image: url("https://cdn.discordapp.com/attachments/1066072940191416372/1083421207090704414/stars.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1.4em;
    padding: 25px 25px;
    overflow: hidden;
    transition-duration: 0.75s;
    filter: drop-shadow(0px 0px 100px white);
    user-select: none;
}
#switch > img {
    position: absolute;
    height: 40%;
    top: 20%;
    left: 10%;
    filter: brightness(1) grayscale(100%);
    z-index: 0;
}
#switch > span {
    position: absolute;
    width: 80%;
    height: 40%;
    top: 30%;
    left: 10%;
    z-index: 1;
}

.lights {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.8);
}
.lights > div:nth-of-type(1) {
    position: absolute;
    width: 1vw;
    height: 100vh;
    top: 6vh;
    left: 14.6vw;
    background-color: rgba(255, 252, 128, 0.3);
    filter: blur(10px);}
.lights > div:nth-of-type(1)::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: calc(-10% - 100px);
    top: 0%;
    border-right: 100px solid rgba(255, 252, 128, 0.3);
    border-top: 100vh solid transparent;
    background-color: transparent;}
.lights > div:nth-of-type(1)::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    right: calc(-10% - 100px);
    top: 0%;
    border-left: 100px solid rgba(255, 252, 128, 0.3);
    border-top: 100vh solid transparent;
    background-color: transparent;
}
.lights > div:nth-of-type(2) {
    position: absolute;
    width: 1vw;
    height: 100vh;
    top: 6vh;
    right: 14vw;
    background-color: rgba(255, 252, 128, 0.3);
    filter: blur(10px);}
.lights > div:nth-of-type(2)::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: calc(-10% - 100px);
    top: 0%;
    border-right: 100px solid rgba(255, 252, 128, 0.3);
    border-top: 100vh solid transparent;
    background-color: transparent;}
.lights > div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    right: calc(-10% - 100px);
    top: 0%;
    border-left: 100px solid rgba(255, 252, 128, 0.3);
    border-top: 100vh solid transparent;
    background-color: transparent;
}
.lights > div:nth-of-type(3) {
    position: absolute;
    width: 0.5vw;
    height: 65vh;
    top: 18.5vh;
    left: 22.25vw;
    background-color: rgba(255, 252, 128, 0.3);
    filter: blur(10px);}
.lights > div:nth-of-type(3)::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: calc(-10% - 50px);
    top: 0%;
    border-right: 50px solid rgba(255, 252, 128, 0.3);
    border-top: 65vh solid transparent;
    background-color: transparent;}
.lights > div:nth-of-type(3)::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    right: calc(-10% - 50px);
    top: 0%;
    border-left: 50px solid rgba(255, 252, 128, 0.3);
    border-top: 65vh solid transparent;
    background-color: transparent;
}
.lights > div:nth-of-type(4) {
    position: absolute;
    width: 0.5vw;
    height: 65vh;
    top: 18.5vh;
    right: 21.6vw;
    background-color: rgba(255, 252, 128, 0.3);
    filter: blur(10px);}
.lights > div:nth-of-type(4)::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: calc(-10% - 50px);
    top: 0%;
    border-right: 50px solid rgba(255, 252, 128, 0.3);
    border-top: 65vh solid transparent;
    background-color: transparent;}
.lights > div:nth-of-type(4)::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    right: calc(-10% - 50px);
    top: 0%;
    border-left: 50px solid rgba(255, 252, 128, 0.3);
    border-top: 65vh solid transparent;
    background-color: transparent;
}

@keyframes throwBall {
    25% {top: var(--placeToTop);}
    50% {left: var(--placeToLand);top: var(--placeToLand2); width: 5%;}
    90% {left: 40vw; top: 150vh; width: 3%;}
    100% {left: 40vw; top: 80vh; width: 20vw;}
}
@keyframes switchSun {
    0% {left: 10%;}
    25% {top: -10%;}
    50% {left: 40%;top: -20%;height: 35%;filter:brightness(1) blur(1px) grayscale(50%);}
    75% {top: -10%;}
    100% {left: 80%;filter:brightness(1.2) blur(2px) grayscale(0%);}
}
@keyframes switchMoon {
    0% {left: 80%;filter:brightness(1.2) blur(2px) grayscale(0%);}
    25% {top: -10%;}
    50% {left: 40%;top: -20%;height: 35%;filter:brightness(1) blur(1px) grayscale(50%);}
    75% {top: -10%;}
    100% {left: 10%;filter: brightness(1) blur(0px) grayscale(100%);}
}

@media screen and (max-width:1440px) {
    .bk_backboard > p {top: 15%; font-size: 1em;}
    #switch {font-size: 1em;}
}
@media screen and (max-width:1024px) {
    .bk_backboard > p {top: 10%;font-size: 0.8em;}
    #switch {font-size: 0.8em;}
}
@media screen and (max-width:425px) {
    body {overflow-y: scroll;overflow-x: hidden;}
    .bk_backboard > p {top: 20%; font-size: 1em;}
    #switch {
        width: 100vw;
        height: 15vh;
        top: 0vh;
        left: 0vw;
        border-radius: 0px;
        font-size: 1.4em;
    }
    #bk_backboard_holder {
        height: 200vh;
        top: 15vh;
        left: 0vw;
        margin: 0px;
        padding: 0px;    
        flex-direction: column;
    }
    .bk_backboard {
        position: relative;
        width: 80%;
        height: 30%;
        left: 10%;
    }
    .bk_backboard > img {
        position: absolute;
        width: 100%;
        height: auto;
        filter: drop-shadow(0px 0px 10px black) grayscale(100%);
        transition-duration: 0.5s;
        user-select: none;
        -webkit-user-drag: none;
    }
    .lights {position: fixed;}
}
@media screen and (max-width:320px) {
    .bk_backboard > p {top: 15%;}
}